.App {
  position: relative;
  transition: 0.2s ease;
  background-color: #e8eef1;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
body {
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
.spacer1 {
  height: 15vh;
}
.spacer2 {
  height: 8vh;
}
.nav {
  background-color: #e8eef1;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  margin: 0;
  top: 0;
  left: 0;
  z-index: 2;
}
.logo {
  background-color: #057dcd;
  height: 64px;
  width: 64px;
}
.tab-group {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 150%;
  font-weight: bold;
  font-style: oblique;
  color: #1e3d58;
  width: 70vw;
  height: 70%;
}
.tab {
  box-sizing: border-box;
}
.tab:hover {
  transition: 1s;
  font-size: 101%;
  letter-spacing: 0.5px;
}
.tab::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #6849e3;
  z-index: -1;
  transition: width 0.75s ease;
}
.tab:hover::before {
  width: 1rem;
}
.footer {
  background-color: #1e3d58;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #e8eef1;
  width: 100vw;
  height: 10vh;
  bottom: 0;
}
.footer h3 {
  margin: 0;
}
.block {
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.block.title {
  font-size: 3em;
}
.block h3 {
  margin-top: 10px;
}
.block.blue {
  background-color: #057dcd;
  color: #e8eef1;
  height: 20vh;
}
.block.white {
  background-color: #e8eef1;
  height: 20vh;
}

.review {
  height: 30px;
}
.button {
  position: relative;
  border-radius: 5px;
  background-color: navy;
  font-size: 2rem;
  padding: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  border: blue 2px dotted;
  overflow: hidden;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle {
  position: absolute;
  border-radius: 50%;
  background-color: black;
  width: 200px;
  z-index: 2;
  bottom: -10px;
}
.button:hover .circle {
  bottom: -10px;
  height: 100%;
}
.services {
  background-color: #e8eef1;
  color: #1e3d58;
  height: 30vh;
}
.call-us p {
  font-size: 300%;
}
.call-us,
.about {
  background-color: #057dcd;
  color: #e8eef1;
}
.call-us {
  padding-bottom: 60px;
}
.about {
  font-size: 1.2rem;
}
.text-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.text-content h3 {
  width: 48%;
}
.images {
  display: flex;
  margin-bottom: 2%;
  width: 70%;
  height: 70%;
  justify-content: space-around;
}
.image {
  width: 30%;
}
.tent-1 {
  content: url(./images/tent3.jpg);
}
.tent-2 {
  content: url(./images/tent1.jpg);
}
.tent-3 {
  content: url(./images/tent2.jpg);
  transform: rotateZ(90deg);
}

.Quotes-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Quotes-page h1 {
  padding-top: 15px;
}
.Quotes-page h1,
.Quotes-page h3 {
  background-color: #057dcd;
  text-align: center;
  color: #e8eef1;
}
.form-container {
  background-color: #057dcd;
  padding: 40px;
}
label {
  color: #e8eef1;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
}
.form-input label {
  padding-left: 15px;
  width: auto;
  text-align: center;
  position: relative;
}

input {
  outline: none;
}
.form-input {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #49a0da;
  border: 3px solid #0567a8;
  border-radius: 5px;
  margin-top: 10px;
}
.form-input input {
  transition: 0.5s ease;
  background-color: #49a0da;
  border: none;
  height: 20px;
  width: 80%;
  color: #e8eef1;
  font-size: 1.1rem;
  text-align: center;
}
.form-input:hover input {
  background-image: radial-gradient(circle, #7db8e0, #71b2de, #65acdd, #57a6db);
}
.form-input:hover {
  background-image: radial-gradient(
    circle,
    #7db8e0,
    #71b2de,
    #65acdd,
    #57a6db,
    #49a0da
  );
}
.form-input input:valid {
  width: 70%;
}
.form-check {
  margin-bottom: 20px;
}
.form-check label {
  width: 20vw;
}
.services-check {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.services-check label {
  display: block;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  justify-self: center;
}
.services-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: -40px;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #eee;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.services-check label:hover input ~ .checkmark {
  background-color: #ccc;
}
.services-check input:checked ~ .checkmark {
  background-color: #2196f3;
}
.services-check input:checked ~ .checkmark:after {
  display: block;
}
.services-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-textarea textarea {
  background-color: #49a0da;
  padding: 10px;
  bottom: 0;
  font-size: 1.2rem;
  color: #e8eef1;
  width: 97%;
  height: 20vh;
  line-height: 1.5;
  border-radius: 5px;
  border: none;
  border: 3px solid #0567a8;
  outline: none;
}
.form-submit {
  height: 30vh;
  display: flex;
  justify-content: center;
}
.submit-button {
  background-color: #49a0da;
  margin-top: 10vh;
  height: 15vh;
  font-size: 3rem;
  color: #e8eef1;
  border-radius: 5px;
  border: 3px solid #0567a8;
  transition-property: transform, box-shadow, background-color;
  transition-duration: 0.6s;
}
.submit-button:hover {
  background-color: #7db8e0;
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 10px 20px 0 #0567a8;
}
