.App {
  background-color: #e8eef1;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
body {
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
}
.spacer {
  height: 8vh;
}
.nav {
  background-color: #e8eef1;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  margin: 0;
  top: 0;
  left: 0;
}
.logo {
  background-color: #057dcd;
  height: 64px;
  width: 64px;
}
.tab-group {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 150%;
  font-weight: bold;
  font-style: oblique;
  color: #1e3d58;
  width: 40%;
  height: 70%;
}
.footer {
  background-color: #1e3d58;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #e8eef1;
  width: 100vw;
  height: 10vh;
}
.footer h3 {
  margin: 0;
}
.block {
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services {
  background-color: #e8eef1;
  color: #1e3d58;
  height: 30vh;
}
.call-us p {
  font-size: 300%;
}
.call-us,
.about {
  background-color: #057dcd;
  color: #e8eef1;
}
.about {
  font-size: 1.2rem;
}
.text-content {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.text-content h3 {
  width: 48%;
}
.images {
  display: flex;
  margin-bottom: 2%;
}
.image {
  width: 20%;
}
.tent-1 {
  content: url(./images/tent-1.jpg);
}
.tent-2 {
  content: url(./images/tent-2.jpg);
}
.tent-3 {
  content: url(./images/tent-3.jpg);
}
.tent-4 {
  content: url(./images/tent-4.jpg);
}
.tent-5 {
  content: url(./images/tent-5.jpg);
}
